
@{
    ViewBag.Title = "CategoryPostList";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@model DTO.GeneralDTO
<!-- ##### Archive Post Area Start ##### -->
<div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">

                    <div class="post-thumbnail mb-50">
                        <a href="@Model.Adslist[1].Link" target="_blank"> <img src="~/Areas/Admin/Content/AdsImage/@Model.Adslist[1].ImagePath" /></a>
                    </div>
                    @if (Model.Videos != null && Model.Videos.Count != 0)
                    {
                        foreach (var item in Model.Videos)
                        {
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    @Html.Raw(item.VideoPath)
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="post-content">
                                        <div class="post-meta">
                                            <a href="#">@item.AddDate.ToString("dd.MM.yyyy dddd")</a>
                                            @*<a href="archive.html">lifestyle</a>*@
                                        </div>
                                        <a href="@item.OriginalVideoPath" class="post-title">@item.Title</a>
                                        <!-- Post Meta -->

                                    </div>
                                </div>
                                    
                            </div>
                            <br />



                        }
                    }
                    else
                    {
                        foreach (var item in Model.CategoryPostList)
                        {
                            <div class="single-catagory-post d-flex flex-wrap">
                                <!-- Thumbnail -->
                                <div class="post-thumbnail bg-img" style="background-image: url(/Areas/Admin/Content/PostImage/@item.ImagePath);">
                                </div>

                                <!-- Post Contetnt -->
                                <div class="post-content">
                                    <div class="post-meta">
                                        <a href="#">@item.AddDate.ToString("dd.MM.yyyy dddd")</a>
                                        @*<a href="archive.html">lifestyle</a>*@
                                    </div>
                                    <a href="@Url.RouteUrl("PostDetail",new { @ID=item.ID, @CategoryName=BLL.SeoLink.GenerateUrl(item.CategoryName), @SeoLink=item.SeoLink})" class="post-title">@item.Title</a>
                                    <!-- Post Meta -->
                                    <div class="post-meta-2">
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.ViewCount</a>
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.CommentCount</a>
                                    </div>
                                    <p>@item.ShortContent</p>
                                </div>
                            </div>
                        }
                    }


                    <!-- Single Catagory Post -->
                    <!-- Single Catagory Post -->
                    <!-- Pagination -->


                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <div class="sidebar-area bg-white mb-30 box-shadow">
                    <!-- Sidebar Widget -->
                    <div class="single-sidebar-widget p-30">
                        <div class="single-sidebar-widget p-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>Breaking Trainings</h5>
                            </div>
                            @foreach (var item in Model.BreakingPost)
                            {
                                <div class="single-blog-post d-flex">
                                    <div class="post-thumbnail">
                                        <a href="@Url.RouteUrl("PostDetail",new { @ID=item.ID, @CategoryName=BLL.SeoLink.GenerateUrl(item.CategoryName), @SeoLink=item.SeoLink})">
                                            <img src="~/Areas/Admin/Content/PostImage/@item.ImagePath" alt="">
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <a href="@Url.RouteUrl("PostDetail",new { @ID=item.ID, @CategoryName=BLL.SeoLink.GenerateUrl(item.CategoryName), @SeoLink=item.SeoLink})" class="post-title">@item.Title</a>
                                        <div class="post-meta d-flex justify-content-between">
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.ViewCount</a>
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.CommentCount</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- Single Blog Post -->
                            <!-- Single Blog Post -->


                        </div>


                        <!-- Social Followers Info -->

                    </div>

                    <div class="single-sidebar-widget p-30">
                        <a href="@Model.Adslist[0].Link" target="_blank"> <img src="~/Areas/Admin/Content/AdsImage/@Model.Adslist[0].ImagePath" /></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Archive Post Area End ##### -->
